*{
    overflow: auto;
} 

body{
    background-color: #8BA1BB;
    font-family: Arial;
    
}

div.contenu{
    background-color: white;
    margin: 40px 8px 40px 8px ;
    padding: 0px  8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    overflow: visible;
    
}

h1{
    text-align: center;
    margin-bottom: 1opx;
    margin-top: 15px;
    
}

p.description{
    text-align: center;
    max-width: 400px;   
    display: inline-block;
    font-size: 14px;
}

p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 16px;

}

.centre{
    text-align: center;
    width: 100%;
}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}

div.separateur{
    background-color: black;
    width:100px ;
    height: 1px;
    margin: auto;
}
table.infos{
    position:absolute;
    bottom: 0px; 
    width: 100%;
    color: white; 
    background-color: #6C829DC0; 
    height: 40px;
}
div.infos{
    position: relative;
}
table.infos td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.infos th{
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

img.infos{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: #8BA1BB;
}
div.colonne{
    width: 100%;
    margin-top: 20px;
}
div.colonne1{
    display: inline-block;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 10px solid #6C829D;
    padding-bottom: 5px;
}

div.ingredients p{
    text-align: center;
    border: 1px solid lightgray;
    padding: 8px 0;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
}

table.preparation p.numero{
    background-color: #6C829D;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0px;

}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation tr{
    height: 40px;
}

/*Gestion du Responsive! Style pour Pc*/
@media only screen and (min-width: 600px) {
    /*si la largeur min est ++++ alors....*/

    div.contenu{
        margin: 80px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }

    table.infos{
        height: 80px;
    }
    table.infos td{
        font-size: 14px;
    }
    table.infos th{
        font-size: 16px;
    }

    div.colonne{
        width: 45%;
    }
    div.colonne1{
        margin-right: 10%;
    }
    
    div.colonne2{
        float: right;
    }
    
    
  }


@media only screen and (min-width: 900px) {
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 650px;
    }
}